.error-indicator {
  text-align: center;
  color: coral;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 520px) {
  .error-indicator {
    height: 100%;

    img {
      width: 100%;
    }
  }
}