@import "../../style/partials/button";

.chat-message {
  padding: 30px;

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
  }

  textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 1em "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
  }
}

@media screen and (max-width: 520px) {
  .chat-message {
    padding: 0;
    margin-bottom: 20px;

    textarea {
      height: 90px;
    }
    button {
      margin-top: 10px;
    }
  }
}


